@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: white;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2; // 레이어 정렬
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-family: "KCCChassam";
    font-size: 60px;
    border: 4px groove rgb(12, 12, 82);
    border-radius: 20px;
    padding: 12px 24px;
  }
}
