@font-face {
  font-family: "Cafe24ClassicType-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  color: white;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2; // 레이어 정렬
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .currentTime {
    font-family: "Cafe24ClassicType-Regular";
    font-size: 35px;
    margin-bottom: 20px;
  }

  .year {
    font-family: "Cafe24ClassicType-Regular";
    font-size: 20px;
    margin-bottom: 10px;
  }

  .time {
    font-family: "Cafe24ClassicType-Regular";
    font-size: 60px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 20px rgb(238, 150, 8), 0 0 20px rgb(238, 150, 8),
      0 0 92px rgb(238, 150, 8), 0 0 100px rgb(238, 150, 8),
      0 0 151px rgb(238, 150, 8);
  }

  .quotes {
    position: relative;
    font-size: 60px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(50%, -50);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .aqua {
    fill: rgb(173, 247, 247);
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;

      animation: spin 20s linear infinite;
    }
  }

  .searchResult {
    display: none;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;

    img {
      width: 150px;
      height: 150px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 150px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;

      a {
        color: white;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
